<form #f="ngForm" (ngSubmit)="submit(f)">
  <div class="form-group">
    <label for="forstName">First Name</label>
    <input required minlength="3" maxlength="10" pattern="banana" ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" type="text" id="firstName" class="form-control">
    <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
      <div *ngIf="firstName.errors.required">First Name is required</div>
      <div *ngIf="firstName.errors.minlength">First name should be minimum {{firstName.errors.minlength.requiredLength}} charaters</div>
      <div *ngIf="firstName.errors.maxlength">First name should be maximum 10 charaters</div>
      <div *ngIf="firstName.errors.pattern">First name should match pattern</div>
    </div>
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea  ngModel name="comment" #comment="ngModel" id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div>

  <button class="btn btn-primary">Submit</button>
</form>
